@font-face {
    font-family: "SFProDisplay Medium";
    src : url("./fonts/SFProDisplay-Medium")
}

@font-face {
    font-family: "Nympha";
    src : url("./fonts/Nympha.ttf")
}

@font-face {
    font-family: "DM Mono";
    src : url("./fonts/DMMono-Regular.ttf")
}
