@import './mixins.scss';

.footer {
    display: flex;
    margin: 20% 0 10%;
    position: relative;

    img {
        max-width: 33%;
    }

    .image-left {
        opacity: 0.4;
        transform: rotate(6.92deg);
        position: absolute;
        top: -10%;
        left: 10%;
    }

    .image-center {
        text-align: center;
        margin: 0 auto;
        transform: rotate(-4deg);
    }

    .image-right {
        opacity: 0.5;
        transform: rotate(-8.2deg);
        position: absolute;
        z-index: -10;
        right: 15%;
        top: 5%;
    }

    &::after {
        @include pseudo(absolute, '', 0, 0, 0, 100%);
        @include background('../img/view/svg/sprite.view.svg', cover, 0 0);
        height: 30%;
        width: 50%;
        z-index: 5;
        margin: 30px auto;
    }
}
