@import './font.scss';
@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

img {
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 80%;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%flex-center {
    display: flex;
    justify-content: center;
}

.header {
    @include position(0 0 180px, 45px 0);
    @extend %flex-between;

    a {
        @include font-pack('SFProDisplay Medium', normal, 500, 18px, 21px, uppercase, inherit);
    }
}

.main-section {
    position: relative;

    &::after {
        @include background('../img/title-white.svg', 80% 80%, center);
        @include pseudo(absolute, '', -100px, 0, 0, 100%);
        min-height: 190px;
    }
}


.person-section {
    @extend %flex-center;

    text-align: center;
    margin: 60px 0 100px;

    p:not(:last-child) {
        margin-right: 88px;
    }

    .position {
        margin-bottom: 8px;
        @include font-pack('DM Mono', normal, normal, 16px, 121.4%, uppercase, #D6D0CE);
    }

    .person {
        @include font-pack('Nympha', normal, normal, 24px, 121.4%, capitalize, #D6D0CE);    
    }
}


@media screen and (max-width: 700px) {
    .person-section {
        flex-direction: column;

        p:not(:last-child) {
            margin: 0 0 30px;
        }
    }
}

.foto-container {
    display: flex;
    flex-direction: column;

    .foto {
        max-width: 80%;
    }
}

.pseudo-container {
    margin: 190px 0 110px 0;
    position: relative;
    align-self: flex-end;

    &::after {
        @include pseudo(absolute, '', -120px, 0, 0, 100%);
        min-height: 190px;
        @include background('../img/title-gray.svg', 100% 100%, 0% 0%);

    }
}



.group-foto-container {
    @extend %flex-between;
    margin-top: 150px;
    align-items: center;

    div:nth-child(2) {
        margin-left: 70px;

        display: flex;
        flex-direction: column;

        img:first-child {
            padding: 0 0 0 70px;
            margin-bottom: 70px;
        }

        img:last-child {
           padding: 0 70px 0 0;
        }
    }
}

.galery-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 150px 0 250px 0;
    border: 5px solid pink;
    z-index: -100;

    img:nth-child(1) {
        opacity: 0.5;
        z-index: 100;
        width: 30%;
        transform: rotate(-3deg);
        margin-top: -30px;
    }

    img:nth-child(2) {
        transform: rotate(6.85deg);
        z-index: 100;
        opacity: 0.5;
        width: 30%;
    }

    img:nth-child(3) {
        opacity: 0.5;
        z-index: 100;
        width: 30%;
        transform: rotate(-3deg);
    }

    &::after {
        @include background('../img/title-white.svg', 80% 80%, center);
        @include pseudo(absolute, '', auto, 0, 0, 100%);
        height: 33%;
        z-index: -1000;
        bottom: 0;
        border: 2px solid red;
    }
}


.footer {
    display: flex;
    margin: 160px 0;
    position: relative;

    img {
        max-width: 33%;
    }

    .image-left {
        opacity: 0.4;
        transform: rotate(6.92deg);
        position: absolute;
        top: -10%;
        left: 10%;

        &:hover {
            opacity: 0.8;
            transition: all 0.3s ease-in-out;
        }
    }

    .image-center {
        text-align: center;
        margin: 0 auto;
        transform: rotate(-4deg);
    }

    .image-right {
        opacity: 0.5;
        transform: rotate(-8.2deg);
        position: absolute;
        z-index: -10;
        right: 15%;
        top: 5%;
    }

    &::after {
        @include pseudo(absolute, '', calc(50% - 65px), 0, 0, 100%);
        @include background('../img/footer-title.svg', 80% 80%, center);
        min-height: 130px;
        z-index: 100;
      }
}
