@import './font.scss';
@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

img {
    height: auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 80%;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%flex-center {
    display: flex;
    justify-content: center;
}

.header {
    @include position(0 0 180px, 45px 0);
    @extend %flex-between;

    a {
        @include font-pack('SFProDisplay Medium', normal, 500, 18px, 21px, uppercase, inherit);
    }
}

.main-section {
    position: relative;

    &::after {
        @include background('../img/title-white.svg', 80% 80%, center);
        @include pseudo(absolute, '', -100px, 0, 0, 100%);
        min-height: 190px;
    }
}

.person-section {
    @extend %flex-center;

    text-align: center;
    margin: 60px 0 200px;

    p:not(:last-child) {
        margin-right: 88px;
    }

    .position {
        margin-bottom: 8px;
        @include font-pack('DM Mono', normal, normal, 16px, 121.4%, uppercase, #D6D0CE);
    }

    .person {
        @include font-pack('Nympha', normal, normal, 24px, 121.4%, capitalize, #D6D0CE);    
    }
}


@media screen and (max-width: 700px) {
    .person-section {
        flex-direction: column;

        p:not(:last-child) {
            margin: 0 0 30px;
        }
    }
}

.pseudo-container {
    margin: 190px 0;
    position: relative;
    text-align: right;

    &::after {
        @include pseudo(absolute, '', -16%, 0, 0, 100%);
        z-index: -10;
        min-height: 190px;
        @include background('../img/title-gray.svg', 100% 100%, 0% 0%);

    }
}

.foto-container {
    @extend %flex-between;
    margin-top: 250px;
    align-items: center;

    div:nth-child(2) {
        border: 7px solid green;
        margin-left: 70px;

        display: flex;
        flex-direction: column;

        img:first-child {
            // align-content: right;
            border: 10px solid pink;
            padding: 0 0 0 70px;
            margin-bottom: 330px;
        }

        img:last-child {
           padding: 0 70px 0 0;
        }
    }

    img {
        max-width: 575px;
        max-height: 886px;
        border: 2px solid purple;
    }
}

.foto {
    border: 10px solid orange;
    justify-content: flex-start;
    max-width: 80%;
}